NODE_ENV=production
APP_NAME=DWM
APP_URL=https://dwm.example.com
HOST=127.0.0.1
PORT=3020

SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hrdynt_stepoil
DB_USERNAME=dwm
DB_PASSWORD=CHANGE_THIS

TRUST_PROXY=1
